footer {
  width: 100%;
  height: fit-content;
  background: #f8fafc;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-col-1 img {
  width: 82px;
}

.footer-col-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #71717a;
}

.footer-col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-col-2 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #94a3b8;
}

.footer-col-2 a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #090914;
  cursor: pointer;
}

.footer-col-2 a.red {
  color: #e80e0f;
}

#footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#footer-form input[type="email"] {
  width: 300px;
  height: 55px;
  background: #ffffff;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  padding-left: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: black;
}

#footer-form input[type="email"]:focus {
  bottom: 0;
  outline: 0;
}

#footer-form button {
  width: 300px;
  height: 55px;
  background: #e80e0f;
  border-radius: 9px;
  outline: none;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #090914;
}

/* MEDIA QUERY FOR LARGE DEVICES */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-col-1 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #71717a;
    text-align: center;
    width: fit-content;
  }

  .footer-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* MEDIA QUERY FOR MEDIUM DEVICES */
@media only screen and (min-width: 577px) and (max-width: 991px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-col-1 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #71717a;
    text-align: center;
    width: fit-content;
  }

  .footer-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media only screen and (min-width: 0px) and (max-width: 576px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-col-1 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #71717a;
    text-align: center;
    width: fit-content;
  }

  .footer-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
